@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
body{
    margin: 0px;
}

.mainhead{
    
text-align:center;
font-family: 'Carter One', cursive; 
color: blanchedalmond;
padding-inline-start: 70px;
}
.rows
{
    display: flex;
    margin-left: 450px;
    padding: top 60%;
    padding: bottom 60%;
}
.row{

    margin-left: 15px;
    
    padding-top: 70px;
    padding-bottom: 70px;

    width: 10%;
    height: 10px;
}
.secondrows{
    display: flex;
    margin-left: 20%

}
.thirdrows{ 
    display: flex;
    margin-left: 10%
}