.row{
    width: 100%;
    height: 500px;
background-color: cornflowerblue;
}
.col{
    width: 30%;
    height: 300px;
    background-color: crimson ;
}
@media screen (max-width: 500px){

.col{
    
    background-color: teal;
    color: white;
    text align: center;
}
    
}